<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div class="navbar__content">
    <div fxHide.gt-sm fxLayoutAlign="start center">
      <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon color="accent">menu</mat-icon>
      </button>
      <!-- <span class="title">{{ title }}</span> -->
      <span class="title font">WONZIOWE MEMY</span>
    </div>
    <div fxHide.lt-md class="navbar__brand">
      <a class="brand font" routerLink="/admin-panel" translate>WONZIOWE MEMY</a>
      <!-- <button mat-button routerLink="/home" routerLinkActive="active">
        <mat-icon color="accent">home</mat-icon>
        <span class="font">Start</span>
      </button> -->
      <!-- <button  class="buttonAdd" mat-button routerLink="/about" routerLinkActive="active">
        <mat-icon color="accent">add</mat-icon>
        <span class="font">Dodaj</span>
      </button> -->
    </div>
    <!-- <span fxFlex></span>   -->
    <div>Admin</div>

    <!-- <mat-form-field class="search-form-field font">
      <mat-label>Szukaj</mat-label>
      <input class="search-form-field__input" matInput type="text" [(ngModel)]="value" (keyup.enter)="searchMeme()">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
  </div>
  <!-- <app-language-selector icon="true"></app-language-selector> -->
  <!-- <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item class="font">
        <span translate >Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button class="font" mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu> -->
</mat-toolbar>
