<div class="container"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="150"
(scrolled)="onScroll()"
[scrollWindow]="false">

  <mat-card class="container__child" *ngFor="let item of meme" >
    <mat-card-title style="text-align: start;">
      {{item.title}}
    </mat-card-title>
    <img mat-card-image src={{item.url}} alt="">
    <mat-card-content>
      <p>tutaj znajduje sie opis MEME</p>
    </mat-card-content>
    <!-- <mat-card-actions>
    </mat-card-actions> -->
    <mat-card-footer class="dateOfMeme">
      <button mat-button color="accent" title="Copy link to share" (click)="coppyLink(this.item.id)">
        <span class="material-icons">
        share
        </span></button>
      <i>Dodano: {{myDate | date}}</i>
    </mat-card-footer>
  </mat-card>

  <div class="spinner" *ngIf="notEmptyPost"  >
      <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "#ff8f00"
      type = "ball-pulse-sync"
      [fullScreen]= "false"
      >
      </ngx-spinner>
  </div>

  <div class="endOfPage" *ngIf="!notEmptyPost" >
    <h2>Moderator się obija :/ koniec meme</h2>
  </div>
</div>





